// Styling for the masthead
header.masthead {
  text-align: center;
  color: #212529;
  background-image: url("#{$header-image}");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 165px; //Space above all of the text in the center of the masthead page
    padding-bottom: 50px; //Below
    .intro-lead-in {
      font-size: 50px;
      font-style: normal;
      line-height: 22px;
      margin-bottom: 75px; // Margin below title text
      font-family: "Big Shoulders Display";
      //@include serif-font;
    }
    .intro-heading {
      color: #ffffff;
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
} // For full width site
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 285px; //Space above all of the text in the center of the masthead page
      padding-bottom: 65px; //Below
      .intro-lead-in {
        font-size: 80px;
        font-style: normal;
        line-height: 40px;
        margin-bottom: 210px; // Margin below title text
        font-family: "Big Shoulders Display";
        //@include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
