// Variables

// Restated Bootstrap Variables
//$gray-100: #A88D70 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: rgb(255, 255, 255) !default;

@font-face {
  font-family: 'Big Shoulders Display';
  src: url($baseurl + "/fonts/BigShouldersDisplay.ttf")
}

@font-face {
  font-family: "League Gothic";
  src: url($baseurl + "/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf");
}

@font-face {
  font-family: "Telegraf";
  src: url($baseurl + "/fonts/PPTelegraf-Regular.otf");
}